@{
    ViewBag.Title = "Kas mes?";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p></p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Handshake2.svg/1187px-Handshake2.svg.png" 